Repository apache/incubator-hugegraph-toolchain, pull requests merged in 2022-11, with the labels that each got.

#325 refact: show detail info when parse line meet error
  hugegraph-loader/src/main/java/com/baidu/hugegraph/loader/reader/line/Line.java
  hugegraph-loader/src/test/java/com/baidu/hugegraph/loader/test/unit/LineTest.java
Labels: inactive

#356 chore: enable flatten while building
  .gitignore
  pom.xml
Labels: ci, apache

#358 feat(hbase): support gen HFile for hbase v2 (BETA)
  hugegraph-dist/scripts/dependency/known-dependencies.txt
  hugegraph-loader/assembly/static/bin/get-params.sh
  hugegraph-loader/assembly/static/example/spark/edge_created.json
  hugegraph-loader/assembly/static/example/spark/edge_knows.json
  hugegraph-loader/assembly/static/example/spark/schema.groovy
  hugegraph-loader/assembly/static/example/spark/struct.json
  hugegraph-loader/assembly/static/example/spark/vertex_person.json
  hugegraph-loader/assembly/static/example/spark/vertex_software.json
  hugegraph-loader/pom.xml
  hugegraph-loader/src/main/java/com/baidu/hugegraph/loader/builder/EdgeBuilder.java
  hugegraph-loader/src/main/java/com/baidu/hugegraph/loader/builder/ElementBuilder.java
  hugegraph-loader/src/main/java/com/baidu/hugegraph/loader/builder/VertexBuilder.java
  hugegraph-loader/src/main/java/com/baidu/hugegraph/loader/constant/Constants.java
  hugegraph-loader/src/main/java/com/baidu/hugegraph/loader/direct/loader/DirectLoader.java
  hugegraph-loader/src/main/java/com/baidu/hugegraph/loader/direct/loader/HBaseDirectLoader.java
  hugegraph-loader/src/main/java/com/baidu/hugegraph/loader/direct/util/SinkToHBase.java
  hugegraph-loader/src/main/java/com/baidu/hugegraph/loader/executor/LoadOptions.java
  hugegraph-loader/src/main/java/com/baidu/hugegraph/loader/mapping/BackendStoreInfo.java
  hugegraph-loader/src/main/java/com/baidu/hugegraph/loader/mapping/LoadMapping.java
  hugegraph-loader/src/main/java/com/baidu/hugegraph/loader/metrics/LoadDistributeMetrics.java
  hugegraph-loader/src/main/java/com/baidu/hugegraph/loader/spark/HugeGraphSparkLoader.java
  hugegraph-loader/src/main/java/com/baidu/hugegraph/loader/struct/GraphStructV1.java
  hugegraph-loader/src/main/java/com/baidu/hugegraph/loader/util/MappingUtil.java
  hugegraph-loader/src/test/java/com/baidu/hugegraph/loader/test/unit/MappingConverterTest.java
  pom.xml
Labels: enhancement, todo

#376 [fix][loader] Fix deserialize json error
  hugegraph-loader/src/main/java/org/apache/hugegraph/loader/mapping/LoadMapping.java
  hugegraph-loader/src/test/java/org/apache/hugegraph/loader/test/functional/FileLoadTest.java
  hugegraph-loader/src/test/resources/mapping_v2/schema.groovy
  hugegraph-loader/src/test/resources/mapping_v2/struct.json
Labels: bug, loader

#374 chore: fix loader's jackson conflicts & missing dependencies
  hugegraph-dist/scripts/dependency/known-dependencies.txt
  hugegraph-loader/pom.xml
Labels: bug, dependencies

#380 feat(hubble): display packaging log output progress while building
  hugegraph-hubble/hubble-fe/config-overrides.js
Labels: hubble, hubble-fe

#352 feat(apache): support check license header with RAT client model
  .github/workflows/license-checker.yml
  .licenserc.yaml
  hugegraph-hubble/Dockerfile
  hugegraph-hubble/hubble-be/pom.xml
  hugegraph-hubble/hubble-be/src/main/java/org/apache/hugegraph/entity/schema/SchemaConflict.java
  hugegraph-hubble/hubble-be/src/test/python/steps/check_server_status.py
  hugegraph-hubble/hubble-dist/pom.xml
  hugegraph-hubble/yarn.lock
Labels: dependencies, ci, apache
