Repository apache/incubator-hugegraph-toolchain, pull requests merged in 2023-12, with the labels that each got.

#546 chore(client): increase the api num as the latest server commit + 10
  .github/workflows/client-ci.yml
  hugegraph-client/assembly/travis/install-hugegraph-from-source.sh
  hugegraph-client/src/main/java/org/apache/hugegraph/driver/HugeClient.java
  hugegraph-hubble/Dockerfile
  hugegraph-hubble/hubble-dist/assembly/travis/download-hugegraph.sh
  hugegraph-loader/assembly/travis/install-hugegraph-from-source.sh
  hugegraph-tools/assembly/travis/install-hugegraph-from-source.sh
Labels: hubble, loader, client, tools

#543 fix(hubble): build with node and yarn
  .github/workflows/hubble-ci.yml
  hugegraph-dist/release-docs/licenses/LICENSE-frontend-maven-plugin.txt
  hugegraph-dist/scripts/dependency/known-dependencies.txt
  hugegraph-hubble/hubble-dist/pom.xml
  hugegraph-hubble/hubble-fe/package.json
Labels: hubble

#548 fix(loader): loader options
  hugegraph-loader/src/main/java/org/apache/hugegraph/loader/direct/loader/HBaseDirectLoader.java
  hugegraph-loader/src/main/java/org/apache/hugegraph/loader/executor/LoadOptions.java
Labels: loader

#551 fix base ref head ref and fix checkstyle
  .github/workflows/codeql-analysis.yml
  hugegraph-client/src/main/java/org/apache/hugegraph/client/RestClient.java
  hugegraph-loader/src/main/java/org/apache/hugegraph/loader/spark/HugeGraphSparkLoader.java
Labels: loader, client

#514 feature(client): support go client for hugegraph
  .github/workflows/client-ci.yml
  .github/workflows/client-go-ci.yml
  .github/workflows/hubble-ci.yml
  .github/workflows/loader-ci.yml
  .github/workflows/spark-connector-ci.yml
  .github/workflows/stale.yml
  .github/workflows/tools-ci.yml
  .gitignore
  .licenserc.yaml
  hugegraph-client-go/Makefile
  hugegraph-client-go/README.en.md
  hugegraph-client-go/README.md
  hugegraph-client-go/api/api.go
  hugegraph-client-go/api/api.response.go
  hugegraph-client-go/api/api.resquest.go
  hugegraph-client-go/api/v1/api.go
  hugegraph-client-go/api/v1/edge/edge.go
  hugegraph-client-go/api/v1/edge/edge_test.go
  hugegraph-client-go/api/v1/edgelabel/edgelabel.go
  hugegraph-client-go/api/v1/edgelabel/edgelabel_test.go
  hugegraph-client-go/api/v1/gremlin/gemlin.go
  hugegraph-client-go/api/v1/gremlin/gemlin_test.go
  hugegraph-client-go/api/v1/propertykey/propertykey.go
  hugegraph-client-go/api/v1/propertykey/propertykey_test.go
  hugegraph-client-go/api/v1/schema.go
  hugegraph-client-go/api/v1/schema_test.go
  hugegraph-client-go/api/v1/version.go
  hugegraph-client-go/api/v1/version_test.go
  hugegraph-client-go/api/v1/vertex/vertex.go
  hugegraph-client-go/api/v1/vertex/vertex_test.go
  hugegraph-client-go/api/v1/vertexlabel/vertexlabel.go
  hugegraph-client-go/api/v1/vertexlabel/vertexlabel_test.go
  hugegraph-client-go/go.mod
  hugegraph-client-go/go.sum
  hugegraph-client-go/hgtransport/hgtransport.go
  hugegraph-client-go/hgtransport/logger.go
  hugegraph-client-go/hugegraph.go
  hugegraph-client-go/hugegraph_test.go
  hugegraph-client-go/internal/model/model.go
  hugegraph-client-go/internal/version/version.go
  pom.xml
Labels: client

#554 fix okhttp version
  hugegraph-dist/scripts/dependency/known-dependencies.txt
  hugegraph-hubble/hubble-be/pom.xml
Labels: hubble

#552 feat(spark): install hugegraph from source
  .github/workflows/spark-connector-ci.yml
  hugegraph-loader/assembly/descriptor/assembly.xml
  hugegraph-spark-connector/README.md
  hugegraph-spark-connector/assembly/travis/install-hugegraph-from-source.sh
  hugegraph-spark-connector/pom.xml
Labels: loader, spark

#544 feat(client): support edgeExistence api
  .github/workflows/client-ci.yml
  .github/workflows/client-go-ci.yml
  .github/workflows/hubble-ci.yml
  .github/workflows/loader-ci.yml
  .github/workflows/tools-ci.yml
  hugegraph-client/src/main/java/org/apache/hugegraph/api/traverser/EdgeExistenceAPI.java
  hugegraph-client/src/main/java/org/apache/hugegraph/driver/TraverserManager.java
  hugegraph-client/src/test/java/org/apache/hugegraph/api/ApiTestSuite.java
  hugegraph-client/src/test/java/org/apache/hugegraph/api/BaseApiTest.java
  hugegraph-client/src/test/java/org/apache/hugegraph/api/traverser/EdgeExistenceAPITest.java
  hugegraph-client/src/test/java/org/apache/hugegraph/api/traverser/TraverserApiTest.java
Labels: client

#555 fix: exclude okhttp1 which has different groupID with okhttp3
  hugegraph-dist/scripts/dependency/known-dependencies.txt
  hugegraph-loader/pom.xml
  hugegraph-tools/pom.xml
Labels: loader, tools

#556 fix: github action build docker image failed during the release 1.2 process
  hugegraph-hubble/Dockerfile
  hugegraph-loader/Dockerfile
Labels: hubble, loader

#557 fix: github action build hubble image failed
  hugegraph-hubble/Dockerfile
Labels: hubble

#558 fix: build error with npm not exist & tiny improve
  README.md
  hugegraph-hubble/Dockerfile
  hugegraph-hubble/README.md
  hugegraph-hubble/hubble-dist/pom.xml
  hugegraph-tools/src/main/java/org/apache/hugegraph/structure/JsonGraph.java
  hugegraph-tools/src/main/java/org/apache/hugegraph/util/ToolUtil.java
  hugegraph-tools/src/test/java/org/apache/hugegraph/test/functional/AuthBackupTest.java
  hugegraph-tools/src/test/java/org/apache/hugegraph/test/functional/AuthRestoreTest.java
  hugegraph-tools/src/test/java/org/apache/hugegraph/test/functional/CommandTest.java
  hugegraph-tools/src/test/java/org/apache/hugegraph/test/util/FileUtil.java
  pom.xml
Labels: hubble, tools

#559 doc: adjust docker related desc in readme
  README.md
  hugegraph-hubble/README.md
  hugegraph-loader/README.md
Labels: hubble, loader

#564 chore(fix): docker image of hubble 1.0.0 have no curl
  hugegraph-hubble/Dockerfile
Labels: size:XS, lgtm

#565 chore(fix): add foreground process for hubble-1.0.0 image
  hugegraph-client/assembly/travis/install-hugegraph-from-source.sh
  hugegraph-hubble/Dockerfile
  hugegraph-hubble/hubble-dist/assembly/travis/download-hugegraph.sh
  hugegraph-loader/assembly/travis/install-hugegraph-from-source.sh
  hugegraph-tools/assembly/travis/install-hugegraph-from-source.sh
Labels: size:S
