Repository apache/incubator-hugegraph-toolchain, pull requests merged in 2023-09, with the labels that each got.

#500 fix: checkstyle && add suppressions.xml
  hugegraph-client/src/main/java/org/apache/hugegraph/api/traverser/JaccardSimilarityAPI.java
  hugegraph-client/src/main/java/org/apache/hugegraph/exception/InvalidOperationException.java
  hugegraph-client/src/main/java/org/apache/hugegraph/exception/ServerException.java
  hugegraph-client/src/main/java/org/apache/hugegraph/serializer/direct/HBaseSerializer.java
  hugegraph-client/src/main/java/org/apache/hugegraph/serializer/direct/reuse/BytesDemo.java
  hugegraph-client/src/main/java/org/apache/hugegraph/serializer/direct/util/IdGenerator.java
  hugegraph-client/src/main/java/org/apache/hugegraph/serializer/direct/util/SplicingIdGenerator.java
  hugegraph-hubble/hubble-be/src/main/java/org/apache/hugegraph/config/HubbleConfig.java
  hugegraph-hubble/hubble-be/src/main/java/org/apache/hugegraph/controller/load/LoadTaskController.java
  hugegraph-hubble/hubble-be/src/main/java/org/apache/hugegraph/license/ServerInfo.java
  hugegraph-hubble/hubble-be/src/main/java/org/apache/hugegraph/service/load/LoadTaskService.java
  hugegraph-hubble/hubble-be/src/main/java/org/apache/hugegraph/service/query/ExecuteHistoryService.java
  hugegraph-hubble/hubble-be/src/main/java/org/apache/hugegraph/util/GremlinUtil.java
  hugegraph-hubble/hubble-be/src/main/java/org/apache/hugegraph/util/SerializeUtil.java
  hugegraph-loader/src/main/java/org/apache/hugegraph/loader/flink/HugeGraphOutputFormat.java
  hugegraph-loader/src/main/java/org/apache/hugegraph/loader/reader/file/LocalFileReader.java
  hugegraph-loader/src/main/java/org/apache/hugegraph/loader/spark/HugeGraphSparkLoader.java
  hugegraph-loader/src/main/java/org/apache/hugegraph/loader/task/InsertTask.java
  hugegraph-tools/src/main/java/org/apache/hugegraph/base/Printer.java
  hugegraph-tools/src/main/java/org/apache/hugegraph/base/ToolClient.java
  hugegraph-tools/src/main/java/org/apache/hugegraph/cmd/HugeGraphCommand.java
  hugegraph-tools/src/main/java/org/apache/hugegraph/manager/AuthBackupRestoreManager.java
  pom.xml
  tools/checkstyle.xml
  tools/suppressions.xml
Labels: inactive, hubble, loader, client, tools

#510 fix(loader): resolve error loader script
  hugegraph-loader/assembly/static/bin/hugegraph-loader.sh
Labels: loader

#519 fix yarn network connection on linux/arm64 arch
  hugegraph-hubble/hubble-dist/pom.xml
Labels: hubble
