Repository apache/incubator-hugegraph-toolchain, pull requests merged in 2024-03, with the labels that each got.

#583 fix(hubble): yarn install timeout in arm64
  hugegraph-hubble/hubble-dist/pom.xml
Labels: bug, hubble, size:XS, lgtm

#590 feat(client): support user defined OKHTTPClient configs
  hugegraph-client/src/main/java/org/apache/hugegraph/client/RestClient.java
  hugegraph-client/src/main/java/org/apache/hugegraph/driver/HugeClient.java
  hugegraph-client/src/main/java/org/apache/hugegraph/driver/HugeClientBuilder.java
  hugegraph-client/src/test/java/org/apache/hugegraph/functional/HugeClientHttpsTest.java
  hugegraph-client/src/test/java/org/apache/hugegraph/functional/HugeClientTest.java
  hugegraph-hubble/hubble-be/src/main/java/org/apache/hugegraph/util/HugeClientUtil.java
  pom.xml
Labels: enhancement, java, hubble, client, size:M, lgtm

#571 fix(loader): support file name with prefix for hdfs source
  hugegraph-loader/src/main/java/org/apache/hugegraph/loader/reader/hdfs/HDFSFileReader.java
  hugegraph-loader/src/test/java/org/apache/hugegraph/loader/test/functional/HDFSLoadTest.java
  hugegraph-loader/src/test/resources/hdfs_file_with_prefix/core-site.xml
  hugegraph-loader/src/test/resources/hdfs_file_with_prefix/schema.groovy
  hugegraph-loader/src/test/resources/hdfs_file_with_prefix/struct_hdfs.json
Labels: bug, enhancement, java, loader, size:L, lgtm

#589 feat(hubble): warp the exception info in HugeClientUtil
  .editorconfig
  hugegraph-client/src/main/java/org/apache/hugegraph/driver/HugeClient.java
  hugegraph-hubble/hubble-be/src/main/java/org/apache/hugegraph/HugeGraphHubble.java
  hugegraph-hubble/hubble-be/src/main/java/org/apache/hugegraph/exception/GenericException.java
  hugegraph-hubble/hubble-be/src/main/java/org/apache/hugegraph/handler/ExceptionAdvisor.java
  hugegraph-hubble/hubble-be/src/main/java/org/apache/hugegraph/util/HugeClientUtil.java
  pom.xml
Labels: enhancement, java, hubble, client, hubble-be, size:L, lgtm

#596 chore: upgrade version to 1.3.0
  README.md
  hugegraph-loader/README.md
  pom.xml
Labels: enhancement, loader, size:S, lgtm

#597 chore(ci): update profile commit id for 1.3
  .github/workflows/client-ci.yml
  .github/workflows/client-go-ci.yml
  .github/workflows/hubble-ci.yml
  .github/workflows/loader-ci.yml
  .github/workflows/spark-connector-ci.yml
  .github/workflows/tools-ci.yml
  hugegraph-spark-connector/assembly/travis/install-hugegraph-from-source.sh
Labels: ci, spark, size:S, lgtm
