Repository apache/incubator-hugegraph-toolchain, pull requests merged in 2024-02, with the labels that each got.

#572 fix: concurrency issue causing file overwrite due to identical filenames
  hugegraph-loader/src/main/java/org/apache/hugegraph/loader/direct/loader/HBaseDirectLoader.java
Labels: loader, size:M, lgtm

#568 refactor(hubble): enhance maven front plugin
  .gitignore
  hugegraph-hubble/hubble-dist/pom.xml
  hugegraph-hubble/hubble-fe/package.json
Labels: enhancement, javascript, hubble, hubble-fe, size:S, lgtm

#566 fix(loader): update shade plugin for spark loader
  hugegraph-dist/release-docs/LICENSE
  hugegraph-dist/scripts/dependency/known-dependencies.txt
  hugegraph-loader/assembly/static/bin/hugegraph-spark-loader.sh
  hugegraph-loader/pom.xml
  hugegraph-loader/src/main/resources/META-INF/services/shaded.jakarta.ws.rs.client.ClientBuilder
  hugegraph-loader/src/main/resources/META-INF/services/shaded.org.glassfish.hk2.extension.ServiceLocatorGenerator
  hugegraph-tools/pom.xml
  pom.xml
Labels: bug, java, loader, tools, size:L, lgtm
