Repository apache/incubator-hugegraph-toolchain, pull requests merged in 2024-10, with the labels that each got.

#624 feat(client): support "parent & child" EdgeLabel type
  .github/workflows/client-ci.yml
  .github/workflows/loader-ci.yml
  .github/workflows/spark-connector-ci.yml
  hugegraph-client/pom.xml
  hugegraph-client/src/main/java/org/apache/hugegraph/structure/GraphElement.java
  hugegraph-client/src/main/java/org/apache/hugegraph/structure/constant/EdgeLabelType.java
  hugegraph-client/src/main/java/org/apache/hugegraph/structure/graph/Edge.java
  hugegraph-client/src/main/java/org/apache/hugegraph/structure/schema/EdgeLabel.java
  hugegraph-client/src/test/java/org/apache/hugegraph/api/EdgeApiTest.java
  hugegraph-client/src/test/java/org/apache/hugegraph/unit/RestResultTest.java
  hugegraph-loader/src/test/java/org/apache/hugegraph/loader/test/functional/FileLoadTest.java
  pom.xml
Labels: enhancement, loader, client, size:L, lgtm

#628 fix(client): serialize source and target label for non-father edge label
  hugegraph-client/src/main/java/org/apache/hugegraph/structure/constant/EdgeLabelType.java
  hugegraph-client/src/main/java/org/apache/hugegraph/structure/schema/EdgeLabel.java
Labels: client, size:M, lgtm

#631 feat(hubble): support English interface & add a script/doc for it
  hugegraph-hubble/hubble-fe/src/i18n/resources/en-US/graph-managment/AsyncTasks.json
  hugegraph-hubble/hubble-fe/src/i18n/resources/en-US/graph-managment/GraphManagementSidebar.json
  hugegraph-hubble/hubble-fe/src/i18n/resources/en-US/graph-managment/addition.json
  hugegraph-hubble/hubble-fe/src/i18n/resources/en-US/graph-managment/common.json
  hugegraph-hubble/hubble-fe/src/i18n/resources/en-US/graph-managment/data-import/import-tasks/ImportTasks.json
  hugegraph-hubble/hubble-fe/src/i18n/resources/en-US/graph-managment/dataAnalyze.json
Labels: hubble, hubble-fe, size:XXL, lgtm

#627 fix(hubble): encode/decode Chinese error after building package
  hugegraph-hubble/hubble-be/src/main/java/org/apache/hugegraph/HugeGraphHubble.java
  hugegraph-hubble/hubble-dist/assembly/static/bin/start-hubble.sh
  hugegraph-hubble/hubble-dist/assembly/travis/download-hugegraph.sh
  hugegraph-hubble/hubble-dist/assembly/travis/install-hugegraph-hubble.sh
  hugegraph-hubble/hubble-dist/assembly/travis/install-hugegraph.sh
  hugegraph-hubble/hubble-dist/assembly/travis/run-api-test.sh
  hugegraph-hubble/hubble-dist/assembly/travis/start-hubble.sh
Labels: hubble, size:S, lgtm
