Repository apache/incubator-hugegraph-toolchain, pull requests merged in 2025-01, with the labels that each got.

#640 chore(ci): update hugegraph source commit id
  .github/workflows/client-ci.yml
  .github/workflows/client-go-ci.yml
  .github/workflows/hubble-ci.yml
  .github/workflows/loader-ci.yml
  .github/workflows/spark-connector-ci.yml
  .github/workflows/tools-ci.yml
Labels: inactive, ci, size:S, lgtm

#648 feat(loader): support jdbc date type & sync .editorconfig
  .editorconfig
  .github/outdated/release.yml
  .github/workflows/client-go-ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/hubble-ci.yml
  .github/workflows/license-checker.yml
  .github/workflows/loader-ci.yml
  .github/workflows/spark-connector-ci.yml
  .github/workflows/tools-ci.yml
  hugegraph-hubble/hubble-dist/assembly/travis/requirements.txt
  hugegraph-loader/src/main/java/org/apache/hugegraph/loader/util/DataTypeUtil.java
  hugegraph-loader/src/test/java/org/apache/hugegraph/loader/test/functional/JDBCLoadTest.java
  hugegraph-loader/src/test/resources/jdbc_sql_date_convert/schema.groovy
  hugegraph-loader/src/test/resources/jdbc_sql_date_convert/struct.json
Labels: enhancement, hubble, loader, size:XL, lgtm

#650 refactor(loader): add a useSSL option for mysql
  hugegraph-loader/src/test/java/org/apache/hugegraph/loader/test/functional/DBUtil.java
  hugegraph-loader/src/test/java/org/apache/hugegraph/loader/test/functional/JDBCLoadTest.java
Labels: enhancement, loader, size:M, lgtm
